/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
*.log
/public/hot
/public/mix-manifest.json
/public/js/*.js
/public/css/*.css
/public/build
/public/assets/css/style.css
/public/assets/js/*.js
